.suggestionsContainer{
    display: none;
    list-style: none !important;
    text-align: left;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 2px;
    position: absolute;
    min-width: 200px;
    padding: 4px 0 !important;
    margin: 5px;
}
.suggestionsContainer li{
    padding: 1px 6px;
    margin: 0 !important;
}
.suggestionsContainer li.highlighted{
    color: #fff;
    background-color: #3d9af0;
}
